<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AfroPhoenix StudentAidHub</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        #banner{
            height: 360px;
            object-fit: cover;
            width: 100%;
            margin-bottom: 16px;
        }
    </style>
</head>
    <body>
        {% include 'nav.html' %}

        <img class="img-fluid" id="banner" src="/static/banner.jpg" >
        <div class="container">

            <h1 class="text-center mt-2 mb-4">
                StudentAidHub
                <div style="height: 50px;"></div>
            </h1>

            <div class="row" style="margin-bottom: 16px;">

                  <div class="col-md-6">
                        <p class="lead">
                            Searching for scholarships and bursaries can be daunting.
                             StudentAidHub is here to simplify the process, providing a single
                              platform for accessing all available funding opportunities.
                        </p>
                        <p>
                            StudentAidHub aims to ease the stress of finding financial aid by aggregating scholarships
                             and bursaries into one user-friendly website. Students can search based on their field or
                             level of study, receiving notifications for relevant opportunities.
                        </p>
                  </div>

                <div class="d-none d-md-block col-6">
                    <img src="/static/people.jpg" style="height: 320px; border-radius: 4px;">
                </div>
            </div>

            <div>
                <div style="height: 75px;"></div>
                <h2 class="text-center mt-2 mb-4">Top Bursaries</h2>


                    <div class="container">

                  <div class="row">

                    <div class="col-md-4">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Sanlam IT Bursary 2024</h5>
                          <p class="card-text">Sanlam has invited applications for the
                            academic year 2024 for comprehensive bursaries for students who wish
                            to pursue higher studies in the field of information technology (IT) after
                            leaving school.</p>
                          <h6>Closing Date: <b>18 December 2024</b></h6>
                          <a href="mailto:sanlam@StudentAidHub.ac.za?subject=Application%20for%20Sanlam%20Bursary%202024&body=Hi%2C%20hope%20your%20well.%0D%0A%0D%0AKindly%20receive%20my%20documents%20attatched%20below%20as%20required%20...%20%3CAdd%20more%20text%20about%20your%20email%3E%0D%0A%0D%0ARegards.%0D%0AMr.%2FMs.%2FMrs" class=" btn btn-primary">Apply Now</a>
                        </div>
                      </div>
                    </div>

                     <div class="col-md-4">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Sanlam IT Bursary 2024</h5>
                          <p class="card-text">Sanlam has invited applications for the
                            academic year 2024 for comprehensive bursaries for students who wish
                            to pursue higher studies in the field of information technology (IT) after
                            leaving school.</p>
                          <h6>Closing Date: <b>18 December 2024</b></h6>
                          <a href="mailto:sanlam@StudentAidHub.ac.za?subject=Application%20for%20Sanlam%20Bursary%202024&body=Hi%2C%20hope%20your%20well.%0D%0A%0D%0AKindly%20receive%20my%20documents%20attatched%20below%20as%20required%20...%20%3CAdd%20more%20text%20about%20your%20email%3E%0D%0A%0D%0ARegards.%0D%0AMr.%2FMs.%2FMrs" class=" btn btn-primary">Apply Now</a>
                        </div>
                      </div>
                    </div>

                     <div class="col-md-4">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Sanlam IT Bursary 2024</h5>
                          <p class="card-text">Sanlam has invited applications for the
                            academic year 2024 for comprehensive bursaries for students who wish
                            to pursue higher studies in the field of information technology (IT) after
                            leaving school.</p>
                          <h6>Closing Date: <b>18 December 2024</b></h6>
                          <a href="mailto:sanlam@StudentAidHub.ac.za?subject=Application%20for%20Sanlam%20Bursary%202024&body=Hi%2C%20hope%20your%20well.%0D%0A%0D%0AKindly%20receive%20my%20documents%20attatched%20below%20as%20required%20...%20%3CAdd%20more%20text%20about%20your%20email%3E%0D%0A%0D%0ARegards.%0D%0AMr.%2FMs.%2FMrs" class=" btn btn-primary">Apply Now</a>
                        </div>
                      </div>
                    </div>

                            <div style="height: 75px;"></div>
                    <div class="col-md-4">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Sanlam IT Bursary 2024</h5>
                          <p class="card-text">Sanlam has invited applications for the
                            academic year 2024 for comprehensive bursaries for students who wish
                            to pursue higher studies in the field of information technology (IT) after
                            leaving school.</p>
                          <h6>Closing Date: <b>18 December 2024</b></h6>
                          <a href="mailto:sanlam@StudentAidHub.ac.za?subject=Application%20for%20Sanlam%20Bursary%202024&body=Hi%2C%20hope%20your%20well.%0D%0A%0D%0AKindly%20receive%20my%20documents%20attatched%20below%20as%20required%20...%20%3CAdd%20more%20text%20about%20your%20email%3E%0D%0A%0D%0ARegards.%0D%0AMr.%2FMs.%2FMrs" class=" btn btn-primary">Apply Now</a>
                        </div>
                      </div>
                    </div>

                     <div class="col-md-4">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Sanlam IT Bursary 2024</h5>
                          <p class="card-text">Sanlam has invited applications for the
                            academic year 2024 for comprehensive bursaries for students who wish
                            to pursue higher studies in the field of information technology (IT) after
                            leaving school.</p>
                          <h6>Closing Date: <b>18 December 2024</b></h6>
                          <a href="mailto:sanlam@StudentAidHub.ac.za?subject=Application%20for%20Sanlam%20Bursary%202024&body=Hi%2C%20hope%20your%20well.%0D%0A%0D%0AKindly%20receive%20my%20documents%20attatched%20below%20as%20required%20...%20%3CAdd%20more%20text%20about%20your%20email%3E%0D%0A%0D%0ARegards.%0D%0AMr.%2FMs.%2FMrs" class=" btn btn-primary">Apply Now</a>
                        </div>
                      </div>
                    </div>

                     <div class="col-md-4">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Sanlam IT Bursary 2024</h5>
                          <p class="card-text">Sanlam has invited applications for the
                            academic year 2024 for comprehensive bursaries for students who wish
                            to pursue higher studies in the field of information technology (IT) after
                            leaving school.</p>
                          <h6>Closing Date: <b>18 December 2024</b></h6>
                          <a href="mailto:sanlam@StudentAidHub.ac.za?subject=Application%20for%20Sanlam%20Bursary%202024&body=Hi%2C%20hope%20your%20well.%0D%0A%0D%0AKindly%20receive%20my%20documents%20attatched%20below%20as%20required%20...%20%3CAdd%20more%20text%20about%20your%20email%3E%0D%0A%0D%0ARegards.%0D%0AMr.%2FMs.%2FMrs" class=" btn btn-primary">Apply Now</a>
                        </div>
                      </div>
                    </div>
                    <!-- Add more columns as needed -->
                  </div>
                </div>

                <div style="height: 75px;"></div>

                <div class="row" style="margin-bottom: 16px;">

                  <div class="col-md-6" style="padding-bottom: 45px">
                        <p class="lead">
                             <h2 style="text-align: center" >Solution Overview</h2>
                                <div style="height: 50px;"></div>
                              <ul class="list-group">
                                  <li class="list-group-item" style="padding-bottom: 35px" ><b>Efficient Access:</b>
                                      Our platform ensures swift access to a vast array of bursaries,
                                      eliminating the need to navigate multiple sources.
                                  </li>

                                  <li class="list-group-item" style="padding-bottom: 35px" ><b>Customized Search:</b>
                                      Tailor your search based on specific criteria such as academic
                                      achievements and field of study.
                                  </li>
                                  <li class="list-group-item" style="padding-bottom: 35px" ><b>Empowering Education:</b>
                                      We empower students by making education funding accessible to all
                                      through a user-friendly interface and comprehensive bursary database.
                                  </li>
                              </ul>
                        </p>
                  </div>


                <div class="d-none d-md-block col-6" style="padding-top: 50px">
                    <img src="/static/person.jpg" style="height: 320px; border-radius: 4px;">
                </div>
            </div>

            </div>

        </div>


    </body>
    <footer>
        <div class="text-center">
            <a href="mailto:hello@AfroPhoenixCareers.ai?subject=Question%20about%20Careers%20openings&body=My%20name%3A%20%3CYour%20name%20here%3E%0D%0A%0D%0AMy%20question%3A%20%3CEnter%20question%20here%3E" class="btn btn-primary btn-lg">Contact us</a>
        </div>
        {% include 'footer.html' %}
    </footer>
</html>