<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar">

        <span class="navbar-toggler-icon"></span>
      </button>

      <a class="navbar-brand" href="#">
          <img src="/static/afro-lego-svgrepo-com.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
          AfroPhoenix Projects
      </a>

      <div class="d-flex">
          <a class="btn btn-outline-primary me-2" href="/signup">Sign Up</a>
          <a class="btn btn-outline-primary me-2" href="/login">Sign in</a>
      </div>
  </div>
</nav>
<div style="height: 56px;"></div>